{% extends "base.html" %}

{% block head_title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Full name: {{ user.name }}</p>
<p>Email: {{ user.email }}</p>
<p>Change your <a href="{% url 'account_profile_update' %}">profile</a>, <a href="{% url 'account_email' %}">email</a>, <a href="{% url 'account_change_password' %}">password</a> or add/edit your <a href="{% url 'socialaccount_connections' %}">social connections</a>.</p>
{% else %}<p>You must <a href="{% url 'account_login' %}">login</a> to view your profile.</p>
{% endif %}
{% endblock content %}
